<html>
  <head>
    <title>Smart Worker Project</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $(document).ready(function(){
      setInterval(
              function () {
                $.getJSON(
                  $SCRIPT_ROOT+'/systemInfo',{},function(data){
                          var number_of_rows = data.length;
                          var number_of_cols =7;
                          var table_body ='<table style="width:100%">\n' +
                                  '          ' +
                                  '          <tr>\n' +
                                  '            <th>time_stamp</th>\n' +
                                  '            <th>device_id</th>\n' +
                                  '            <th>device_state</th>\n' +
                                  '            <th>device_state_prob</th>\n' +
                                  '            <th>interaction_state</th>\n' +
                                  '            <th>interaction_state_prob</th>\n' +
                                  '            <th>device_power</th>\n' +
                                  '          </tr>';

                          for(var i=0;i<number_of_rows;i++){
                            table_body+='<tr>';
                            for(key in data[i]){
                                table_body +='<td>';
                                console.log(data[i]);
                                table_body +=data[i][key];
                                table_body +='</td>';
                            }
                            table_body+='</tr>';
                          }
                          table_body+='</table>'

                           $('table').html(table_body);


                        }
                );
              },
     5000);  //update every 5 seconds

     //function that retrieves meter data from backend

     //Get the line chart running
       function rand() {
      return Math.random();
    }

    var time=new Date();
    var data = [{
      x: [0],
      y: [0],
      mode: 'lines',
      line: {color: '#80CAF6'}
    }]

    Plotly.newPlot('myDiv', data);

    var cnt = 0;

    var interval = setInterval(

    function (){
        $.getJSON(
                  $SCRIPT_ROOT+'/meterReading',{},function(data){
                       var info=data[0];
                       //xaxis=info['time_stamp'];
                       time=new Date();
                       yaxis=info['totalactive'];
                        var update={
                        x: [[time]],
                        y:[[yaxis]]

                       }
                      console.log(data)
                      var olderTime = time.setMinutes(time.getMinutes() - 1);
                      var futureTime = time.setMinutes(time.getMinutes() + 1);

                      var minuteView = {
                            xaxis: {
                              type: 'date',
                              range: [olderTime,futureTime]
                            }
                          };

                      Plotly.relayout('myDiv', minuteView);
                      Plotly.extendTraces('myDiv', update, [0])
                   }
                  )

     },2000);

    var data_rf = [{
      x: [0],
      y: [0],
      mode: 'lines',
      line: {color: '#80CAF6'}
    }]
    Plotly.newPlot('rfDiv', data_rf);
    var rf_interval = setInterval(

    function (){
        $.getJSON(
                  $SCRIPT_ROOT+'/rfgenerator',{},function(data_rf){
                       var info=data_rf[0];
                       //xaxis=info['time_stamp'];
                       time=new Date();
                       yaxis=info['activeb'];
                        var update={
                        x: [[time]],
                        y:[[yaxis]]

                       }
                      console.log(data_rf)
                      var olderTime = time.setMinutes(time.getMinutes() - 1);
                      var futureTime = time.setMinutes(time.getMinutes() + 1);

                      var minuteView = {
                            xaxis: {
                              type: 'date',
                              range: [olderTime,futureTime]
                            }
                          };

                      Plotly.relayout('rfDiv', minuteView);
                      Plotly.extendTraces('rfDiv', update, [0])
                   }
                  )

     },2000);

    var data_pump = [{
      x: [0],
      y: [0],
      mode: 'lines',
      line: {color: '#80CAF6'}
    }]
    Plotly.newPlot('pumpDiv', data_pump);
    var pump_interval = setInterval(

    function (){
        $.getJSON(
                  $SCRIPT_ROOT+'/pump',{},function(data_pump){
                       var info=data_pump[0];
                       //xaxis=info['time_stamp'];
                       time=new Date();
                       yaxis=info['totalactive'];
                        var update={
                        x: [[time]],
                        y:[[yaxis]]

                       }
                      console.log(data_pump)
                      var olderTime = time.setMinutes(time.getMinutes() - 1);
                      var futureTime = time.setMinutes(time.getMinutes() + 1);

                      var minuteView = {
                            xaxis: {
                              type: 'date',
                              range: [olderTime,futureTime]
                            }
                          };

                      Plotly.relayout('pumpDiv', minuteView);
                      Plotly.extendTraces('pumpDiv', update, [0])
                   }
                  )

     },2000);

    var data_pc = [{
      x: [0],
      y: [0],
      mode: 'lines',
      line: {color: '#80CAF6'}
    }]
    Plotly.newPlot('pcDiv', data_pc);
    var pc_interval = setInterval(

    function (){
        $.getJSON(
                  $SCRIPT_ROOT+'/pcMonitor',{},function(data_pc){
                       var info=data_pc[0];
                       //xaxis=info['time_stamp'];
                       time=new Date();
                       yaxis=info['activea'];
                        var update={
                        x: [[time]],
                        y:[[yaxis]]

                       }
                      console.log(data_pc)
                      var olderTime = time.setMinutes(time.getMinutes() - 1);
                      var futureTime = time.setMinutes(time.getMinutes() + 1);

                      var minuteView = {
                            xaxis: {
                              type: 'date',
                              range: [olderTime,futureTime]
                            }
                          };

                      Plotly.relayout('pcDiv', minuteView);
                      Plotly.extendTraces('pcDiv', update, [0])
                   }
                  )

     },2000);

    var data_heater = [{
      x: [0],
      y: [0],
      mode: 'lines',
      line: {color: '#80CAF6'}
    }]
    Plotly.newPlot('heaterDiv', data_heater);
    var heater_interval = setInterval(

    function (){
        $.getJSON(
                  $SCRIPT_ROOT+'/heater',{},function(data_heater){
                       var info=data_heater[0];
                       //xaxis=info['time_stamp'];
                       time=new Date();
                       yaxis=info['activea'];
                        var update={
                        x: [[time]],
                        y:[[yaxis]]

                       }
                      console.log(data_heater)
                      var olderTime = time.setMinutes(time.getMinutes() - 1);
                      var futureTime = time.setMinutes(time.getMinutes() + 1);

                      var minuteView = {
                            xaxis: {
                              type: 'date',
                              range: [olderTime,futureTime]
                            }
                          };

                      Plotly.relayout('heaterDiv', minuteView);
                      Plotly.extendTraces('heaterDiv', update, [0])
                   }
                  )

     },2000);

    var data_turbo = [{
      x: [0],
      y: [0],
      mode: 'lines',
      line: {color: '#80CAF6'}
    }]
    Plotly.newPlot('turboDiv', data_turbo);
    var turbo_interval = setInterval(

    function (){
        $.getJSON(
                  $SCRIPT_ROOT+'/turbopump',{},function(data_turbo){
                       var info=data_turbo[0];
                       //xaxis=info['time_stamp'];
                       time=new Date();
                       yaxis=info['activeb'];
                        var update={
                        x: [[time]],
                        y:[[yaxis]]

                       }
                      console.log(data_turbo)
                      var olderTime = time.setMinutes(time.getMinutes() - 1);
                      var futureTime = time.setMinutes(time.getMinutes() + 1);

                      var minuteView = {
                            xaxis: {
                              type: 'date',
                              range: [olderTime,futureTime]
                            }
                          };

                      Plotly.relayout('turboDiv', minuteView);
                      Plotly.extendTraces('turboDiv', update, [0])
                   }
                  )

     },2000);
});



    </script>
    <style>
      h1{
          color:red;
          background-color: black;
        text-align:center;
      }
      .header{
	text-align:center;
	padding:5px;
 	font-size:45px;
	font-family: "Courier New", Courier, monospace;
      	font-weight:bold;
      }
      .clearfix::after {
          content: "";
          clear: both;
          display: table;
        }
      .floatleft{
        float: left;
        width: 49%;
        padding: 5px;
        max-width: 900px;
        max-height: 900px;
        margin:auto;
        postion:absolute;
      }
      img{
        width:85%;
        display:block;
        margin-left:auto;
        margin-right:auto;
      }
      .table{
        position:relative;
        top:400px;
        border-collapse:collapse;
      }

      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      tr:nth-child(even){
        background-color: #dddddd;
      }
      th, td {
        padding: 5px;
        text-align: left;
      }
      canvas{
        width:100%;
        height:400px;
      }


    </style>
  </head>
  <body>
    <div class="header">
	 Smart Worker Monitoring System

    </div>

  <div class="clearfix">
      <div class="floatleft">
        <h1>Realtime Feed</h1>
        <img src="{{ url_for('realtime_feed') }}">
      </div>

      <div class="floatleft">
        <h1>Triggered Replay</h1>
        <img src="{{ url_for('smartmeter_feed') }}">
      </div>
  </div>

    <div class="clearfix">
      <div class="floatleft">
        <h1>IR Feed</h1>
        <img src="{{ url_for('ir_feed') }}">
      </div>

<!--      <div class="floatleft">-->
<!--       <h1> Smart Meter Reading</h1>-->
<!--       <div id="myDiv" style="width: 100%;"></div>-->
<!--      </div>-->
    </div>

  <div>
       <h1> Total Feed Power </h1>
       <div id="myDiv" style="width: 100%; height:400px;"></div>
  </div>
  <div>
       <h1> PC+Minotor </h1>
       <div id="pcDiv" style="width: 100%; height:400px;"></div>
  </div>
  <div>
       <h1> Turbo </h1>
       <div id="turboDiv" style="width: 100%; height:400px;"></div>
  </div>
  <div>
       <h1> Heater </h1>
       <div id="heaterDiv" style="width: 100%; height:400px;"></div>
  </div>
  <div>
       <h1> RF Generator</h1>
       <div id="rfDiv" style="width: 100%; height:400px;"></div>
  </div>
  <div>
       <h1> Pump </h1>
       <div id="pumpDiv" style="width: 100%; height:400px;"></div>
  </div>


    <div class="tablediv">
      <h1>System Results</h1>
        <table style="width:100%">

          <tr>
            <th>time_stamp</th>
            <th>device_id</th>
            <th>device_state</th>
            <th>device_state_prob</th>
            <th>interaction_state</th>
            <th>interaction_state_prob</th>
            <th>device_power</th>
          </tr>


        </table>

    </div>


  </body>
</html>
